body {
    --border-width: 5px
}

main {
    padding: 24px;
    position: relative;
    border-radius: var(--mdc-shape-medium);
    background-color: var(--mdc-theme-surface);
}

/* Border gradient animation */
main::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
            60deg,
            hsl(224, 85%, 66%),
            hsl(269, 85%, 66%),
            hsl(314, 85%, 66%),
            hsl(359, 85%, 66%),
            hsl(44, 85%, 66%),
            hsl(89, 85%, 66%),
            hsl(134, 85%, 66%),
            hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
}
@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}

div.admin-btn-holder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    width: fit-content;
    margin: 0 auto;
}

div.admin-btn-holder > a.admin-buttons {
    display: block;
    height: 100px;
    width: 100px;
    border-radius: var(--mdc-shape-small);
    background-color: var(--mdc-theme-surface);
    line-height: 100px; /* Hack to center align icons */
    font-size: 60px;
    text-align: center;
}

