/* Reading cards, for demo purposes only */
.reads .mdc-card__media--16-9 {
    background-image: url('https://picsum.photos/800/450.webp');
}

/******* Login Dialog *******/
#loginDialog .mdc-dialog__surface {
    background-color: var(--scrim-bg);
}
#loginDialog .mdc-dialog__surface > .mdc-dialog__content {
    padding-bottom: 0;
}
#loginDialog #usrOps > h2 {
    margin-top: 5px;
}
#loginDialog #loginLoader {
    overflow: hidden;
}
#loginDialog #loginLoader > div {
    display: block;
    margin: auto;
}

/******* Reader Dialog *******/
img.readerHeadImg {
    border-radius: var(--mdc-shape-medium);
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 0 auto;
}
div.reader-dialog div.readerContent {
    flex-grow: 2;
    padding: 24px;
}
div.reader-dialog div.mdc-dialog__content {
    display: flex;
}
div.reader-dialog aside.readerAside:hover, div.reader-dialog aside.readerAside.fixed {
    padding: 16px;
    max-width: 260px;
    transition-delay: 0s;
}
div.reader-dialog aside.readerAside {
    width: 100%;
    align-self: start;
    margin: 24px 0 24px 47px;
    padding: 0;
    border-radius: var(--overlay-border-radius) 0 0 var(--overlay-border-radius);
    max-width: 0;
    transition: all .4s ease-out;
    transition-delay: 1s;
    transition-property: max-width, padding;
    background-color: var(--mdc-theme-surface);
    position: relative;
}
div.reader-dialog aside.readerAside > h2 {
    margin: 12px 0;
}
div.reader-dialog aside.readerAside > hr {
    margin-left: 0;
    margin-right: 0;
    transition: all .4s ease-out;
    transition-property: margin-left, margin-right;
    transition-delay: 1s;
}
div.reader-dialog aside.readerAside:hover > hr, div.reader-dialog aside.readerAside.fixed > hr {
    /* Make it "full bleed" */
    margin-left: -16px;
    margin-right: -16px;
    transition-delay: 0s;
}
div.reader-dialog aside.readerAside > div.showHideContainer {
    position: absolute;
    left: -47px;
    padding-right: 12px;
    border-radius: var(--mdc-shape-small);
    background-color: var(--mdc-theme-surface);
}
div.reader-dialog aside.readerAside > ul {
    padding-left: 20px;
    margin: 0;
}

/******* Post Dialog *******/
.post-dialog img.img-preview {
    border-radius: var(--mdc-shape-medium);
    width: 100%;
    margin-top: 20px !important;
    border: 1px solid var(--outline-border-color);
}


/******* Hero *******/

.hero {
    padding: 16px;
    background-position: center !important;
    background: linear-gradient(
            rgba(0, 0, 0, .4),
            rgba(0, 0, 0, .4)
    ), url("../img/hero_bg.png");
    background-size: cover !important;
    background-attachment: fixed;
}

.header {
    min-height: 70vh;
}
.header h1 {
    padding: 16px 16px;
    margin: 0;
    backdrop-filter: blur(8px) saturate(140%);
    -webkit-backdrop-filter: blur(8px) saturate(120%);
    border: 1px solid var(--outline-border-color);
    transition: all .2s ease-out;
}
.reads, .quizMoreInfo > .quiz {
    border-radius: var(--mdc-shape-medium);
    background-color: var(--scrim-bg);
    backdrop-filter: blur(6px) saturate(120%);
    border: 1px solid var(--outline-border-color);
    height: fit-content;
}
.reads {
    margin-top: 16px;
}
.reads > h3, .quizMoreInfo > .quiz > h3 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
}
.hero > .reads > ul {
    padding: 0;
    margin-top: 10px;
    border-radius: var(--mdc-shape-medium);
    background-color: var(--scrim-bg);
    max-height: 300px;
    overflow-y: auto;
}

/****** Games and others ******/

section.gamesEtc {
    overflow: hidden;
    position: relative;
}
section.gamesEtc:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../img/gamesBg.webp");
    background-color: var(--mdc-theme-surface);
    background-position: center !important;
    background-size: cover !important;
    will-change: transform;
    z-index: -2;
}

/* More info + quiz grid */
.quizMoreInfo {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
            "quiz quiz iOne iTwo"
            "quiz quiz iThree iFour";
    grid-gap: 8px;
    padding: 16px;
}
.quizMoreInfo > .quiz {
    grid-area: quiz;
}
.quizMoreInfo > .info-card {
    border: 1px solid var(--outline-border-color);
    transition: all .2s cubic-bezier(0.63, 0.71, 0.44, 1.72);
    transition-property: transform, box-shadow;
}
.quizMoreInfo > .info-card.mdc-ripple-upgraded--foreground-activation:hover {
    transform: scale(1.08) !important;
}
.quizMoreInfo > .info-card:hover {
    transform: scale(1.1);
    z-index: 2;
    box-shadow: 0 10px 13px -6px rgba(0, 0, 0, .2),
    0 20px 31px 3px rgba(0, 0, 0, .14), 0 8px 38px 7px rgba(0, 0, 0, .12);
}
.quizMoreInfo > .info-card > .mdc-card-wrapper__text-section > span.material-icons {
    font-size: 30px;
    color: var(--mdc-theme-text-icon-on-dark);
    display: inline-block;
}
.quizMoreInfo > .info-card > .mdc-card-wrapper__text-section > .mdc-card__text-section-header {
    display: inline-block;
    vertical-align: bottom;
}

.quizMoreInfo > .info__1 {
     grid-area: iOne;
     background: #f12711;  /* fallback for old browsers */
     background: -webkit-linear-gradient(135deg, #513e82, #5f1936);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(135deg, #513e82, #5f1936); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }
.quizMoreInfo > .info__2 {
    grid-area: iTwo;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(225deg,  #0e9bba, #601187, #9e0811);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(225deg,  #0e9bba, #601187, #9e0811); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.quizMoreInfo > .info__3 {
    grid-area: iThree;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.quizMoreInfo > .info__4 {
    grid-area: iFour;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #16254d, #0a45a4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #16254d, #0a45a4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/****** Image carousel *******/

.carousel-cell {
    width: 60%;
    height: 300px;
    /* flex-box, center image in cell */
    display: -webkit-box;
    display: -webkit-flex;
    display:         flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.carousel-cell img {
    border-radius: var(--mdc-shape-medium);
    display: block;
    max-width: 100%;
    max-height: 100%;
    border: 2px solid var(--outline-border-color);
    /* dim unselected */
    opacity: 0;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
    transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

/* fade in image when loaded */
.carousel-cell img.flickity-lazyloaded,
.carousel-cell img.flickity-lazyerror {
    opacity: .7;
}
.carousel-cell.is-selected img.flickity-lazyloaded,
.carousel-cell.is-selected img.flickity-lazyerror {
    opacity: 1;
}

/* brighten selected image */
.carousel-cell.is-selected img {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: none;
    filter: none;
}

@media screen and ( max-width: 499px ) {
    .carousel-cell {
        width: 80%;
    }
}

@media screen and ( min-width: 859px ) {
    .carousel-cell {
        height: 550px;
        width: 70%;
    }
}

/* Buttons, no circle */
.flickity-prev-next-button {
    width: 60px;
    height: 60px;
    background-color: var(--mdc-theme-surface) !important;
    opacity: .4;
    transition: opacity .2s ease-in-out;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
.flickity-prev-next-button:hover, .flickity-prev-next-button:active {
    opacity: .8;
}
/* Arrow colors */
.flickity-prev-next-button .arrow, .flickity-prev-next-button.no-svg {
    fill: white;
}
/* Move arrows closer to edge */
.flickity-prev-next-button.previous { left: 0; }
.flickity-prev-next-button.next { right: 0; }
/* Hide disabled button */
.flickity-prev-next-button:disabled {
    display: none;
}

/****** Segmented Layout for resources etc ******/
.segmented-lr {
    display: grid;
    grid-template-columns: .8fr 1.2fr;
}
.segmented-rl {
    display: grid;
    grid-template-columns: 1.2fr .8fr;
}
.segmented > div.segmented-heading, .segmented > div.segmented-content {
    margin: 24px 12px 24px 24px;
    padding: 16px;
    border: 1px solid var(--outline-border-color);
    border-radius: var(--mdc-shape-medium);
    background-color: var(--scrim-bg);
    text-align: center;
}
.segmented > div.segmented-heading {
    backdrop-filter: blur(12px) brightness(70%) saturate(140%);
}
.segmented.segmented-lr > div.segmented-heading, .segmented.segmented-lr > div.segmented-content {
    margin: 24px 12px 24px 24px;
}
.segmented.segmented-rl > div.segmented-heading, .segmented.segmented-rl > div.segmented-content {
    margin: 24px 24px 24px 12px;
}
.segmented > div.segmented-heading > img {
    width: 400px;
    max-width: 80%;
    display: block;
    margin: 16px auto 30px auto;
}
.segmented > div.segmented-heading > h3 {
    margin: 20px 0 5px 0;
    font-size: 3rem;
}
.segmented > div.segmented-content {
    backdrop-filter: blur(4px) brightness(80%) saturate(140%);
}
.segmented.segmented-lr > div.segmented-content {
    margin: 24px 24px 24px 12px;
}
.segmented.segmented-rl > div.segmented-content {
    margin: 24px 12px 24px 24px;
}
.segmented > div.segmented-content > div.mdc-chip-set .mdc-chip {
    letter-spacing: var(--mdc-typography-button-letter-spacing, 0.0892857143em);
    text-transform: var(--mdc-typography-button-text-transform, uppercase);
    color: var(--mdc-theme-primary);
    font-size: var(--mdc-typography-button-font-size, 0.875rem);
    height: 36px;
}

/* About NUS High */
section.abt-nus-high {
    background-size: cover !important;
    background: url("../img/nush.png") no-repeat fixed center;
}

/* Bottom element for bottom detection*/
div.bottom {
    width: 100%;
    height: 0.1px;
    background: transparent;
}