.hero > .header {
    min-height: 40vh;
}
.hero > .header h1 {
    transition: font-size 400ms ease-out;
}

/* Extra content cards */
.quizMoreInfo {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
            "quiz quiz"
            "quiz quiz"
            "iOne iTwo"
            "iThree iFour";
}

.segmented-lr {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}
.segmented-lr > div.segmented-heading, .segmented-lr > div.segmented-content {
    margin: 16px;
    padding: 4px;
}
.segmented-lr > div.segmented-heading > h3 {
    margin: 20px 0 10px 0;
}
